.project-info-page {
  display: flex;
  width: 100%;
  height: 90vh;
}

.project-info-LHS {
  width: 50%;
  height: 100%;
  margin: 0 50px;
}

.project-info-each-slide {
  height: 50vh;
  width: 100%;
  margin: 20vh 0;
}

.project-info-each-slide-image {
  display: flex;
  height: 100%;
  width: 50vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.project-info-RHS {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}

.project-info-page-slider-arrow {
  fill: darkgrey;
  cursor: pointer;
  transition-duration: 0.4s;
  height: 28px;
}

.project-info-page-slider-arrow:hover {
  fill: black;
}

.slider-arrow-lett {
  padding-right: 12px;
}

.slider-arrow-right {
  padding-left: 12px;
}

.project-info-name {
  font-size: 42px;
  font-weight: 900;
  color: #3a7d42;
}

.project-info-location {
  color: grey;
  font-size: 14px;
  margin-bottom: 16px;
}

.project-info-type {
  color: #3a7d42;
  font-weight: bold;
  font-size: 18px;
  user-select: none;
}

.project-info-architect {
  margin-bottom: 10px;
}

.project-info-client {
  margin-bottom: 10px;
}

.project-info-year {
  margin-bottom: 10px;
}

.project-info-description {
  text-align: justify;
    max-height: 45vh;
  overflow: scroll;
padding: 10px 15px;
border: 1px solid lightgray;
background: whitesmoke;
}
