.homepage-news-section {
  /* background: lavenderblush; */
  width: 100%;
  height: 100%;
}

.news-card{
  padding: 10px 15px;
  background: whitesmoke;
  /* height: 150px; */
  display: flex;
  max-width: 480px;
  overflow: hidden;
  align-items: center;
  user-select: none;
}

.news-card-image{
  
 height: 50px; 
 width:150px;
 margin: 10px;
 display: flex;
 background-position: center;
 background-repeat: no-repeat;
 background-size: contain;
}