.homepage-news-section {
  width: 100%;
  min-height: 100%;
  cursor: default;
  border: 1px solid lightgray;
}

.news-heading {
  font-weight: 700;
  margin: 0 20px;
  margin-top: 20px;
  font-size: 12px;
}

.homepage-news-list {
  margin: 20px;
  border: 1px solid lightgray;
  max-height: 198px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.news-item {
  min-height: 40px;
  padding: 8px 10px;
  border: 1px solid whitesmoke;
  display: flex;
  align-items: center;
}

.news-item-newscontent {
  font-size: 14px;
  text-align: justify;
  max-width: 100%;
  width: 95%;
  line-height: 1.3;
  border-left: 1px solid lightgray;
  padding: 0 2%;
}

.news-item-date {
  text-align: center;
  display: flex;
  border-radius: 5px;
  padding: 3px 2px;
  font-size: 10px;
  align-items: center;
  width: 5%;
  margin-right: 10px;
  user-select: none;
  opacity: 0.75;
  font-weight: 500;
}

@media only screen and (max-width: 800px) {
  .homepage-news-section {
    padding: 20px 0;
  }

  .news-heading {
    margin-top: 0;
  }
}
