.homepage-architects-section {
  display: flex;
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.homepage-architects-section-header {
  font-weight: bold;
  font-size: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homepage-architects-section-architects-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
