.careers-page {
  display: flex;
  width: 100%;
  align-items: center;
  min-height: 100%;
  flex-direction: column;
}

.careers-page-hero {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  background: url("https://res.cloudinary.com/farish/image/upload/v1627205554/Growmore/mario-gogh-VBLHICVh-lI-unsplash_ckfspu.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.careers-page-hero-heading {
  font-size: 32px;
  font-weight: bold;
  margin: 50px 0;
  background: white;
  padding: 10px 20px;
  border-radius: 12px;
  box-shadow: 1px 1px 4px grey;
}

.careers-page-list-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.careers-page-email-section{
  /* background: lavender; */
  margin: 50px 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.careers-page-email-section svg{
  height: 48px;
  margin: 10px 0;
  fill: grey;
}

.careers-page-email-link{
  color: green;
  font-size: 14px;
  text-decoration: none;
  margin: 5px 0;
}

.careers-page-email-link:hover{
  text-decoration: underline;

}