.vastu-page-definition-section {
  /* background: lavender; */
  /* background: whitesmoke; */
  background: black;
  color: white;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  margin-top: -15px;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px 20px;
}

.vastu-page-definition {
  width: 75%;
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
