.contact-page-contact-section {
  display: flex;
  width: 100%;
  height: 75vh;
  /* border: 4px solid #3a7d42; */
  box-shadow: 4px 4px 20px darkslategrey;
  border-radius: 15px;
  overflow: hidden;
}

.contact-page-contact-section-LHS {
  /* background: lavender; */
  width: 25%;
  max-height: 100%;
  padding: 2% 3%;
  background: #3a7d42;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  font-weight: 500;
  user-select: none;
}

.contact-page-contact-section-RHS {
  /* background: lavenderblush; */
  width: 75%;
  max-height: 100%;
  padding: 0 3%;
  display: flex;
  flex-direction: column;
}

.contact-page-contact-section-LHS-header {
  font-weight: 700;
  font-size: 22px;
}

.contact-page-contact-section-LHS-paragraph {
  margin: 20px 0;
  max-width: 100%;
}

.contact-page-contact-section-LHS-contact-list {
  display: flex;
  flex-direction: column;
}

.contact-page-contact-section-LHS-contact-list-item {
  font-size: 14px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  fill: white;
}

.contact-page-contact-section-LHS-contact-list-item a {
  text-decoration: underline;
}

.contact-page-contact-section-LHS-contact-list-item svg {
  height: 24px;
  margin-right: 20px;
}

.contact-page-contact-section-RHS-header {
  font-weight: 700;
  font-size: 18px;
  margin: 0 10px;
  margin-top: 20px;
}

.contact-page-contact-section-RHS-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* margin: 10vh; */
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.contact-page-contact-section-RHS-forminput-item-line {
  /* background: lightblue; */
  align-items: center;
  justify-content: space-between;
  width: 100%;
  display: flex;
  margin: 10px 0;
}

.contact-page-contact-section-RHS-forminput-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 10px;
}

.contact-page-contact-section-RHS-forminput-item-label {
  margin: 10px 0;
  font-size: 14px;
  width: 100%;
}

.contact-page-contact-section-RHS-form-input {
  /* width: 320px; */
  resize: none;
  /* width: 80%; */
  height: 42px;
  outline: none;
  padding: 0 20px;
  transition-duration: 0.4s;
  color: #1c1c1c;
  font-weight: 700;
}

.contact-page-contact-section-RHS-form-input:focus {
  border: 2px solid #3a7d42;
}

.contact-page-contact-section-RHS-form-input:disabled{
  /* background: local; */
  opacity: .75;
  /* color: darkgrey; */
}

.form-input-subject {
  /* width: 100%; */
  /* width: 320px; */
  height: 45px;
  outline: none;
}

.form-input-textarea {
  height: 90px;
  padding: 10px 20px;
  text-align: justify;
}

.form-input-submit {
  background: #3a7d42;
  border: 2px solid #3a7d42;
  color: white;
  font-weight: bold;
  width: 30%;
  cursor: pointer;
  margin: 10px 0;
  transition-duration: 0.4s;
}

.form-input-submit:hover :focus {
  border: 2px solid #3a7d42;
  color: #3a7d42;
  background: white;
  margin: 10px 0;
}

.form-input-submit:focus {
  border: 2px solid #3a7d42;
  color: #3a7d42;
  background: white;
  margin: 10px 0;
}



.form-input-submit-success:disabled {
  font-weight: bold;
  width: 30%;
  border: 2px solid #3a7d42;
  color: #3a7d42;
  background: white;
  margin: 10px 0;
}

