.loading-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90vh;
  align-items: center;
  touch-action: none;
  user-select: none;
  justify-content: center;
}

h1 {
  margin: 1em 0;
  border-bottom: 1px dashed;
  padding-bottom: 1em;
  font-weight: lighter;
}

p {
  font-style: italic;
}

.loader {
  margin: 0 0 20px;
  width: 20%;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
