.projects-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-page-heading {
  font-weight: bold;
  font-size: 42px;
  margin: 4vh 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.projects-page-projects-list {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: center;
}
