.projects-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projects-page-heading {
  font-weight: bold;
  font-size: 32px;
  margin: 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.projects-page-projects-list {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  justify-content: space-evenly;
}

.projects-page-project-item {
  margin: 20px 10px;
  background: white;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  user-select: none;
  transition-duration: 0.4s;
  overflow: hidden;
}

.projects-page-project-item-image {
  width: 100%;
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.projects-page-project-item-name {
  margin: 20px 10px 0 10px;
  transition-duration: 0.4s;
  font-weight: 700;
  margin-top: 10px;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.projects-page-project-item-location {
  width: 100%;
  font-size: 12px;
  margin: 10px 0;
  color: grey;
}

.projects-page-project-item-learnmore {
  border-top: 1px solid black;
  font-size: 12px;
}

.projects-page-project-item:hover {
  border: 1px solid grey;
}

.projects-page-project-item:hover .projects-page-project-item-name {
  color: #3a7d42;
}
