
.homepage-architects-section-architects-list-item {
  margin: 30px;
  width: 340px;
  padding: 20px;
  transition-duration: 0.4s;
  border-radius: 20px;
  border: 1px solid whitesmoke;
}

.homepage-architects-section-architects-list-item:hover {
  background: whitesmoke;
}

.homepage-architects-section-architects-list-item:hover
  .homepage-architects-section-architects-list-item-details-name {
  text-decoration: underline;
}

.homepage-architects-section-architects-list-item-image {
  width: 100%;
  min-height: 240px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px lightgray;
  background-repeat: no-repeat;
  background-size: cover;
}

.homepage-architects-section-architects-list-item-details {
  display: flex;
  flex-direction: column;
}

.homepage-architects-section-architects-list-item-details-name {
  font-weight: 700;
  font-size: 18px;
}

.homepage-architects-section-architects-list-item-details-country {
  font-weight: 700;
  font-size: 14px;
  color: #3a7d42;
  margin: 5px 0;
}

.homepage-architects-section-architects-list-item-details-description {
  text-align: justify;
  font-size: 16px;
  color: grey;
  letter-spacing: 0.01rem;
}
