.footer {
  border-top: 1px solid lightgrey;
  background: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.footer-body {
  background: whitesmoke;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  font-size: 14px;
}

.footer-body-company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-body-company-section-logo-link {
  margin: 10px 0;
}

.footer-body-company-section-logo {
  height: 70px;
}

.footer-body-section {
  display: flex;
  flex-direction: column;
}

.footer-body-section-heading {
  font-size: 16px;
  font-weight: 500;
  margin: 9px 0;
}

.footer-body-section-navlink {
  margin: 3px 0;
}

.footer-body-contactus-item {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.footer-body-contactus-item-icon {
  margin: 0 10px 0 0;
  height: 18px;
}

.footer-body-contactus-item-typo {
  font-weight: 500;
  font-size: 13px;
}

.footer-copyright-section {
  padding: 10px 5%;
  background: white;
  border-top: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  color: gray;
}

@media only screen and (max-width: 800px) {
  .footer-body {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .footer-body-section {
    margin: 20px 0;
  }

  .footer-body-contactus-item {
    flex-direction: column;
    margin: 10px;
    padding: 10px;
  }

  .footer-body-contactus-item-icon {
    height: 32px;
    margin-bottom: 10px;
  }

  .footer-body-company-section {
    margin: 10px 0;
  }

  .footer-copyright-section {
    flex-direction: column;
  }

  .footer-copyright {
    margin: 5px 0;
  }
}
