.about-page-hero {
    height: 75vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.about-page-hero-header {
  /* background: red; */
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  margin: 10px 0;
}

.about-page-hero-header-small {
  width: 75%;
  font-size: 18px;
}

@media only screen and (max-width: 600px){
 .about-page-hero{
   height: 100vh;
 } 

 .about-page-hero-header-small{
   text-align: justify;
 }
}