.vasthu-page-section {
  width: 100%;
  margin: 10vh 0 5vh 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  flex-wrap: wrap;
}

.vasthu-page-section-image {
  height: 50vh;
  width: 45%;
  background: url("./brahmasthan-vaastu-home_dyc4sx.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  padding: 0 0px;
  border-radius: 10px;
}
.vasthu-page-section-RHS {
  padding: 0 0px;
  width: 45%;
  /* background: wheat; */
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.vasthu-page-section-RHS-maintypo {
  font-weight: bold;
  font-size: 42px;
  margin: 20px 0;
}

.vasthu-page-section-RHS-typo {
  width: 80%;
  /* text-align: justify; */
}

@media only screen and (max-width: 600px) {
  .vasthu-page-section {
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 150px;
    margin-bottom: -50px;
  }

  .vasthu-page-section-image {
    width: 100%;
  }

  .vasthu-page-section-RHS {
    width: 100%;
  }
  .vasthu-page-section-RHS-maintypo {
    /* text-align: justify; */
    font-size: 32px;
  }
}
