.vasthu-page-hero {
  background: url("./ashish-sangai-EjRTM6inhBM-unsplash_jereps.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  z-index: 2;
}

.vasthu-page-hero-maintypo-section {
  font-weight: 900;
  font-size: 32px;
}

.vasthu-page-hero-maintypo {
  background: whitesmoke;
  padding: 10px 20px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .vasthu-page-hero-maintypo {
    text-align: center;
    font-size: 15px;
  }
}
