.homepage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.homepage-section {
  min-height: 90vh;
  width: 100%;
  margin: 10vh 0 5vh 0;
}

.section-short {
  min-height: 20vh;
  width: 100%;
  margin: 10vh 0 5vh 0;
}

.homepage-section-horizontal {
  width: 100%;
  margin: 10vh;
  display: flex;
}

.RHS {
  width: 50%;
  margin: 0 50px;
}

.LHS {
  margin: 0 50px;
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .homepage-section-horizontal {
    flex-direction: column;
  }

  .LHS {
    margin: 0;
    width: 100%;
  }

  .RHS {
    margin: 0;
    width: 100%;
  }
}
