.homepage {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.homepage-section {
  min-height: 90vh;
  width: 100%;
  margin: 10vh 0;
}

.section-short {
  min-height: 20vh;
  width: 100%;
  margin: 10vh 0;
}

.homepage-section-horizontal {
  min-height: 90vh;
  width: 100%;
  margin: 10vh 0;
  display: flex;
}

.RHS {
  width: 50%;
  margin: 0 50px;
}

.LHS {
  margin: 0 50px;
  width: 50%;
}
