.vasthu-page-section3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20vh 0;
}

.vasthu-page-section3-heading {
  font-weight: 900;
  font-size: 42px;
  margin: 0 0 75px 0;
}

.kanippayyur-logo {
  background: #9a2c0e;
  padding: 20px 20px;
  width: 50%;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 2px 2px 10px black;
  transition-duration: 0.4s;
}

.kanippayyur-logo:hover {
  box-shadow: 2px 2px 10px #9a2c0e;
  /* box-shadow: 2px 2px 10px grey; */
  /* border: 4px solid black; */
}
